body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #e5e5e5;
    color: #182532;
    color: #1421ed;
    font-family: Open-Sans;
    font-size: 20px;
}

header {
    width: 100%;
    height: 43px;
    margin-top: -30px;
    background-color: #17171c;
    color: #fca311;
    font-size: 15px;
    box-sizing: border-box;
}
  
p, h1 {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}
  
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}
  
fieldset:last-of-type {
    border-bottom: none;
}
  
label {
    display: block;
    margin: 0.5rem 0;
}

.tabs {
    text-decoration: none; 
    width: 100%;
    height: 30px;
    background-color: #965a5a;
    background-color: #e9d2a9;
    background-color: #fca311;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    border-bottom: 2px solid #17171c
}

.menu {
    text-decoration: none; 
    width: 100%;
    height: 30px;
    background-color: #965a5a;
    background-color: #e3bf7b;
    background-color: #fca311;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #17171c
}

.button {
    color:aqua;
    text-decoration: none; 
    background-color: none;
    width: 70px;
    width: auto;
    background-color: #965a5a; /* Set the background color to match the body background */
    background-color: #e3bf7b;
    background-color: #fca311;
    color: #ffffff; /* Set the text color to match the background color */
    border: 1px solid #ccc;
    border: none;
    text-align: center; /* Adjust text alignment as needed */
    cursor: pointer;
    box-sizing: border-box;  
}

.button:visited{
    color:aqua;
    text-decoration: none; 
    background-color: none;
}


.main-body {
    margin: 50px;
    text-align: center;
}

.main-body p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.bottom-button {
    text-decoration: none; 
    width: 100%;
    height: 30px;
    background-color: #e5e5e5;
    color: #ffffff;
    font-size: 20px;
}

.results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.body-button {
    text-decoration: none; 
    background-color: none;
    width: 300px;
    background-color: #e5e5e5;
    color: #ffffff; /* Set the text color to match the background color */
    border: none;
    text-align: center; 
    cursor: pointer;
    box-sizing: border-box; 
    font-size: 20px; 
    margin: auto;
}  

.results {
    width: 50%;
    float: left; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: center;
}

.results table {
    width: 100%;
    border-collapse: collapse; 

}

