<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Builder</title>
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>
    <%-include('partials/header')-%>
    <%-include('partials/navbar')-%>


    <div class="main-body">
        <h3>Choose Your Parts</h3>
        <!--------------------------------------------------------------------->
        <div class="componentContainer" id="cpuContainer">
            <h3>Choose a CPU</h3>
            <label class="filterLabel">Manufacturer:</label>
            <div class="filterOptions">
                <input type="radio" id="cpuManufacturerAll" name="cpuManufacturerFilter" value="all" checked>
                <label for="cpuManufacturerAll" class="filterLabel2">All</label>
                <input type="radio" id="cpuManufacturerAMD" name="cpuManufacturerFilter" value="AMD">
                <label for="cpuManufacturerAMD" class="filterLabel2">AMD</label>
                <input type="radio" id="cpuManufacturerINTEL" name="cpuManufacturerFilter" value="INTEL">
                <label for="cpuManufacturerINTEL" class="filterLabel2">INTEL</label>
            </div>

            <label class="filterLabel">Integrated Graphics:</label>
            <div>
                <input type="radio" id="cpuIntegratedAll" name="cpuIntegratedFilter" value="all" checked>
                <label for="cpuIntegratedAll">All</label>
                <input type="radio" id="cpuIntegratedYes" name="cpuIntegratedFilter" value="true">
                <label for="cpuIntegratedTrue">Yes</label>
                <input type="radio" id="cpuIntegratedFalse" name="cpuIntegratedFilter" value="false">
                <label for="cpuIntegratedFalse">No</label>
            </div>
            
            <label class="filterLabel">Number of Physical Cores:</label>
            <div>
                <input type="radio" id="cpuCoresAll" name="cpuCoresFilter" value="all" checked>
                <label for="cpuCoresAll">All</label>
                <input type="radio" id="cpuCores4" name="cpuCoresFilter" value="4">
                <label for="cpuCoresAll">4</label>
                <input type="radio" id="cpuCores6" name="cpuCoresFilter" value="6">
                <label for="cpuCoresAll">6</label>
                <input type="radio" id="cpuCores8" name="cpuCoresFilter" value="8">
                <label for="cpuCoresAll">8</label>
                <input type="radio" id="moreThanEightCoresFilter" name="cpuCoresFilter" value="moreThan8">
                <label for="moreThanEightCoresFilter">More than 8</label>
            </div>

            <label class="filterLabel">Socket Type:</label>
            <div id="cpuSocketFilter">
                <!-- Socket filter radio buttons will be dynamically added here -->
            </div>

            
            <label for="dropdownCPU">Select a CPU:</label>
            <select id="selectCPU" name="selectCPU">
                <!-- Options will be dynamically added here -->
            </select> 

        </div>

        <!--------------------------------------------------------------------->
        <div class="componentContainer" id="moboContainer">
            <h3>Choose a Motherboard</h3>
            <label class="filterLabel">Manufacturer:</label>
            <div id="moboManufacturerFilter">
                <!-- Socket filter radio buttons will be dynamically added here -->
            </div>

            <label class="filterLabel">Socket Type:</label>
            <div id="MoboSocketFilter">
                <!-- Socket filter radio buttons will be dynamically added here -->
            </div>

            <label class="filterLabel">Number of Memory Slots:</label>
            <div>
                <input type="radio" id="moboMemorySlotsAll" name="moboSlotsFilter" value="all" checked>
                <label for="moboMemorySlotsAll">All</label>
                <input type="radio" id="moboMemorySlots2" name="moboSlotsFilter" value="2">
                <label for="moboMemorySlots2">2</label>
                <input type="radio" id="moboMemorySlots4" name="moboSlotsFilter" value="4">
                <label for="moboMemorySlots4">4</label>
                <input type="radio" id="moboMemorySlots8" name="moboSlotsFilter" value="8">
                <label for="moboMemorySlots8">8</label>
            </div>

            <label class="filterLabel">Supported DDR Generation:</label>
            <div>
                <input type="radio" id="moboDDRAll" name="moboDDRFilter" value="all" checked>
                <label for="moboDDRAll">All</label>
                <input type="radio" id="moboDDR3" name="moboDDRFilter" value="DDR3">
                <label for="moboDDR3">DDR3</label>
                <input type="radio" id="moboDDR4" name="moboDDRFilter" value="DDR4">
                <label for="moboDDR4">DDR4</label>
                <input type="radio" id="moboDDR5" name="moboDDRFilter" value="DDR5">
                <label for="moboDDR5">DDR5</label>
            </div>

            <label class="filterLabel">Form Factor:</label>
            <div>
                <input type="radio" id="moboFormFactorAll" name="moboFormFactorFilter" value="all" checked>
                <label for="moboFormFactorAll">All</label>
                <input type="radio" id="moboFormFactorATX" name="moboFormFactorFilter" value="ATX">
                <label for="moboFormFactorATX">ATX</label>
                <input type="radio" id="moboFormFactorMicroATX" name="moboFormFactorFilter" value="Micro ATX">
                <label for="moboFormFactorMicroATX">Micro ATX</label>
                <input type="radio" id="moboFormFactorMiniITX" name="moboFormFactorFilter" value="Mini ITX">
                <label for="moboFormFactorMiniITX">Mini ITX</label>
                <input type="radio" id="moboFormFactorExtendedATX" name="moboFormFactorFilter" value="Extended ATX">
                <label for="moboFormFactorExtendedATX">Extended ATX</label>
                <input type="radio" id="moboFormFactorSSI" name="moboFormFactorFilter" value="SSI">
                <label for="moboFormFactorSSI">SSI</label>
            </div>
            
            <label for="dropdownMOBO">Select a Motherboard:</label>
            <select id="selectMOBO" name="selectMONO">
                <!-- Options will be dynamically added here -->
            </select>

        </div>
        <!--------------------------------------------------------------------->


        <div class="componentContainer" id="ramContainer">
            <h3>Choose a Memory</h3>
            <label class="filterLabel">Manufacturer:</label>
            <div id="ramManufacturerFilter"> 
                <!-- Dynamically added here -->
            </div>

            <label class="filterLabel">DDR Generation:</label>
            <div>
                <input type="radio" id="ramDDRAll" name="ramDDRFilter" value="all" checked>
                <label for="ramDDRAll">All</label>
                <input type="radio" id="ramDDR3" name="ramDDRFilter" value="DDR3">
                <label for="ramDDR3">DDR3</label>
                <input type="radio" id="ramDDR4" name="ramDDRFilter" value="DDR4">
                <label for="ramDDR4">DDR4</label>
                <input type="radio" id="ramDDR5" name="ramDDRFilter" value="DDR5">
                <label for="ramDDR5">DDR5</label>
            </div>

            <label class="filterLabel">Number of Modules:</label>
            <div>
                <input type="radio" id="ramModulesAll" name="ramModulesFilter" value="all" checked>
                <label for="ramModulesAll">All</label>
                <input type="radio" id="ramModules2" name="ramModulesFilter" value="2">
                <label for="ramModules2">2</label>
                <input type="radio" id="ramModules4" name="ramModulesFilter" value="4">
                <label for="ramModules4">4</label>
                <input type="radio" id="ramModules8" name="ramModulesFilter" value="8">
                <label for="ramModules8">8</label>
            </div>

            <label class="filterLabel">Capacity:</label>
            <div>
                <input type="radio" id="ramCapacityAll" name="ramCapacityFilter" value="all" checked>
                <label for="ramCapacityAll">All</label>
                <input type="radio" id="ramCapacity8" name="ramCapacityFilter" value="8">
                <label for="ramCapacity8">8GHz</label>
                <input type="radio" id="ramCapacity16" name="ramCapacityFilter" value="16">
                <label for="ramCapacity8">16Hz</label>
                <label for="ramCapacityAll">All</label>
                <input type="radio" id="ramCapacity32" name="ramCapacityFilter" value="32">
                <label for="ramCapacity8">32GHz</label>
                <label for="ramCapacityAll">All</label>
                <input type="radio" id="ramCapacity64" name="ramCapacityFilter" value="64">
                <label for="ramCapacity8">64GHz</label>
            </div>

            

            
            <label for="dropdownRAM">Select a Memory:</label>
            <select id="selectRAM" name="selecRAM">
                <!-- Options will be dynamically added here -->
            </select> 

        </div>

        <div class="componentContainer" id="gpuContainer">
            <h3>Choose a Graphics Card</h3>
            <label class="filterLabel">Manufacturer:</label>
            <div id="gpuManufacturerFilter"> 
                <!-- Dynamically added here -->
            </div>

            <label class="filterLabel">Minimum required PSU Wattage:</label>
            <div id="gpuWattageFilter"> 
                <!-- Dynamically added here -->
            </div>

            <label class="filterLabel">GDDR Generation:</label>
            <div>
                <input type="radio" id="gpuGDDRAll" name="gpuGDDRFilter" value="all" checked>
                <label for="gpuGDDRAll">All</label>
                <input type="radio" id="gpuGDDR5" name="gpuGDDRFilter" value="GDDR5">
                <label for="ramDDR3">GDDR5</label>
                <input type="radio" id="gpuGDDR6" name="gpuGDDRFilter" value="GDDR6">
                <label for="ramDDR4">GDDR6</label>
                <input type="radio" id="gpuGDDR6X" name="gpuGDDRFilter" value="GDDR6X">
                <label for="ramDDR5">GDDR6X</label>
            </div>

            <label class="filterLabel">PCIE Generation:</label>
            <div>
                <input type="radio" id="gpuPCIEAll" name="gpuPCIEFilter" value="all" checked>
                <label for="gpuPCIEAll">All</label>
                <input type="radio" id="gpuPCIE83" name="gpuPCIEFilter" value="PCI Express x8 3.0">
                <label for="gpuPCIE83">PCI Express x8 3.0</label>
                <input type="radio" id="gpuPCIE163" name="gpuPCIEFilter" value="PCI Express x16 3.0">
                <label for="gpuPCIE163">PCI Express x16 3.0</label>
                <input type="radio" id="gpuPCIE84" name="gpuPCIEFilter" value="PCI Express x8 4.0">
                <label for="gpuPCIE84">PCI Express x8 4.0</label>
                <input type="radio" id="gpuPCIE164" name="gpuPCIEFilter" value="PCI Express x16 4.0">
                <label for="gpuPCIE164">PCI Express x16 4.0</label>
            </div>




            <label for="dropdownGPU">Select a Graphics Card:</label>
            <select id="selectGPU" name="selecGPU">
                <!-- Options will be dynamically added here -->
            </select>

        </div>




        <!--------------------------------------------------------------------->

    </div>
    <script src="../src/builder-cpu.js" type="module"></script>
    <script src="../src/builder-mobo.js" type="module"></script>
    <script src="../src/builder-ram.js" type="module"></script>
    <script src="../src/builder-gpu.js" type="module"></script>
    <link rel="stylesheet" href="../public/builder.css">

</body>
</html>