<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>
    <%-include('partials/header')-%>
    <%-include('partials/navbar')-%>
    <div class="main-body"> 
        <h3>Component Categories</h3>
        <div id="componentButtonsContainer" class='componentButtonsContainer'>
            <button class="componentButton" type="button">
                <a target="_top" href="/components/cpus" text-decoration: none;>CPUs</a>
            </button>
            <button class="componentButton" type="button">
                <a target="_top" href="/components/mobos" text-decoration: none;>Motherboards</a>
            </button>
            <button class="componentButton" type="button">
                <a target="_top" href="/components/rams" text-decoration: none;>Memory</a>
            </button>
            <button class="componentButton" type="button">
                <a target="_top" href="/components/gpus" text-decoration: none;>Graphics Cards</a>
            </button>
            <button class="componentButton" type="button">
                <a target="_top" href="/components/storages" text-decoration: none;>Storage</a>
            </button>
            <button class="componentButton" type="button">
                <a target="_top" href="/components/psus" text-decoration: none;>Power Supplies</a>
            </button>
            <button class="centerComponentButton" type="button">
                <a target="_top" href="/components/cases" text-decoration: none;>Cases</a>
            </button>
        </div>
    </div>
</body>