<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="../public/styles.css" />
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>

  <%-include('partials/header')-%>
  <%-include('partials/navbar')-%>

  <div class="main-body">
    <p>Choose from hundreds of components</p>
    <p>Compare different options</p>
    <p>Build yor dream computer TODAY</p>
    <div class="bottom-button">
      <button class="body-button" type="button">
        <a id="start-building-button" class="buttton" target="_top" href="builder" text-decoration: none;>Start
          Building Now</a>
      </button>
    </div>
  </div>

</body>

</html>