body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #e5e5e5;
    color: #182532;
    color: #1421ed;
    font-size: 20px;
}

p, h1, h2, h3, h4, h5, h6, li, a, input, button, label, select, textarea {
    text-decoration: none;
    color: #182532;
}

.menu {
    height: 30px;
    background-color: #ffc76c;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    padding: 0 20px;
}

.button {
    text-decoration: none; 
    background-color: transparent;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

.button a {
    text-decoration: none; 
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.main-body {
    margin: 50px;
    text-align: center;
}

.main-body p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.body-button {
    text-decoration: none; 
    background-color: none;
    width: 300px;
    font-size: 20px; 
}  





.componentContainer {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.04);
    margin: 10px 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.componentContainer h3 {
    margin: 0; /* Remove default margin */
    margin-bottom: 5px; /* Add a small margin at the bottom */
}

.componentContainer label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.componentContainer label.filterLabel {
    justify-content: flex-start; /* Align items to the left for labels with class "filterLabel" */
    width: 100%; /* Ensure the label takes up the full width */
}

.filterOptions {
    width: 100%; /* Ensure the label takes up the full width */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.componentContainer input {
    margin-left: 10px; /* Add margin between radio button and its label */
    display: block;
}

.componentContainer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally within the div */
}