:root {
    /* Define standard spacing and color variables for consistency */
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 40px;
    --primary-color: #182532;
    --background-light: rgba(0, 0, 0, 0.04);
    --border-radius: 5px;
}

.builds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.builds-element {
    background-color: var(--background-light);
    margin: var(--spacing-small) 0;
    padding: var(--spacing-medium) var(--spacing-large);
    width: 80%;
    max-width: 1000px;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: block;
    align-items: start;
    margin: var(--spacing-small) 0;
}

.title h1, .title h2 {
    margin: 0; /* Specify exact elements instead of using universal selector */
}

.details {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin: var(--spacing-small) 0;
    padding: var(--spacing-small);
}

.details div {
    margin: 0 var(--spacing-small);
    display: block; /* Changed to block for simplicity */
    color: var(--primary-color);
}

.details ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove bullet points from lists */
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:  0;
}

.view-button, .favorite-button {
    font-weight: bold;
    border: 0px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin: var(--spacing-small);
    padding: var(--spacing-small);
}

.view-button:hover:enabled , .view-button:focus:enabled , .favorite-button:hover:enabled, .favorite-button:focus:enabled {
    background-color: var(--primary-color);
    color: white;
}

/* Media query for responsive adjustments */
@media (max-width: 768px) {
    .builds-element {
        width: 95%; /* Adjust width for smaller screens */
    }

    .details {
        flex-direction: column; /* Stack details vertically on small screens */
    }
}
