.build-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.build-details-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}

.build-details-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 768px;
}

.build-details-body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.04);
}

.build-details-body p, .build-details-body div {
    margin: 10px 20px;
    text-align: start;
}

.ratings {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 768px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.04);
}



.rating-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.rating-comment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
    margin: 0px 0;
}

.rating-comment p {
    margin: 0 10px;
    text-align: left;

}

.rating-comment h4 {
    margin: 0 10px;
}

.rating-score p {
    font-size: 14px;
    margin: 0 10px;
}

.submit-rating {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.04);
}
.submit-rating h4 {
    margin: 0 10px;
}

.submit-rating > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.submit-rating-left-col {
    display: flex;
    flex-direction: column;
}

.submission-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}