.componentContainer {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.04);
    margin: 10px auto;
    width: 90%;
    position: relative;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.componentContainer h3 {
    margin: 0; /* Remove default margin */
    margin-bottom: 5px; /* Add a small margin at the bottom */
}

.componentContainer label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.optionLine {
    display: flex;
    align-items: center;
    width: 100%;
}

.filterLabel {
    margin-right: 10px;
}

.radioButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Align the radio buttons at the beginning */
    flex-grow: 1; /* Allow the radio buttons to take up remaining space */
}

/* Add this style to prevent wrapping of the labels */
.radioButtons label {
    white-space: nowrap;
}

input[type="radio"] {
    vertical-align: middle;
}

.saveBuildButton {
    margin-top: 20px; /* Adjust the value as needed */
}