body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #e5e5e5;
    color: #182532;
    font-size: 20px;
}

p, h1, h2, h3, h4, h5, h6, li, a, input, button, label, select, textarea {
    text-decoration: none;
    color: #182532;
}

header {
    background-color: #fca311;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 10px 40px;
    border-bottom: 2px solid #17171c;
}

header img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    padding: 0 0 0 10px;
    color: #182532;
    font-family: Impact;
    font-size: 30px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

header a {
    text-decoration: none;
}

.session {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0;
}
.session-welcome {
    margin: 10px
}
.session-x {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}

.session-x *{
    font-size: 16px;
    font-family: Arial;
}

p, h1 {
    margin: 1em auto;
    text-align: center;
}

.menu {
    height: 30px;
    background-color: #ffc76c;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    padding: 0 20px;
}

.button {
    text-decoration: none; 
    background-color: transparent;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

.button a {
    text-decoration: none; 
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.main-body {
    margin: 50px;
    text-align: center;
}

.main-body p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.body-button {
    text-decoration: none; 
    background-color: none;
    width: 300px;
    font-size: 20px; 
}  

.builds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.builds-element {
    background-color: rgba(0, 0, 0, 0.04);
    margin: 10px 0;
    padding: 20px 40px;
}

.builds-element > .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.builds-element .title {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0;
}

.builds-element .title * {
    margin: 0px;
}

.builds-element > .details {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px 0;
    padding: 10px;
}

.builds-element > .details div {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #182532;
}

.builds-element > .details ul {
    margin: 0;
    padding: 0;
}

.builds-element > .view-button {
    font-weight: bold;
    border: #182532 2px solid;
    height: 100%;
    border-radius: 5px;
}

.build-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.build-details-body {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.04);
}

.build-details-body > * {
    margin: 10px 0;
    padding: 0px;
    font-size: 18px;
}

.build-details-ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.build-details-rating {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    margin: 10px 0;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.04);
}

.build-details-rating-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0px 0;
    width: 100%;
}

.build-details-rating-comment p {
    margin: 0 10px;
}

.build-details-rating-score > * {
    font-size: 14px;
    margin: 0, 10px;
}

.build-details-submit-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.04);
    font-size: large;
    width: 60%;
}

.build-details-submit-rating > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.build-details-submit-rating * {
    padding: 5px;
}


.build-details-submit-rating-left-col {
    display: flex;
    flex-direction: column;
}

.build-details-submission-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.componentButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

.componentButton {
    font-weight: bold;
    border: #182532 2px solid;
    height: 100%;
    height: 60px;
    border-radius: 5px;
    width: 30%; /* Adjust as needed */
    margin-bottom: 30px; /* Adjust spacing between buttons */
    margin-top: 30px;
}

.centerComponentButton {
    font-weight: bold;
    border: #182532 2px solid;
    height: 100%;
    height: 60px;
    border-radius: 5px;
    width: 30%; /* Adjust as needed */
    margin: 30px auto;
}


.components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.components-element {
    background-color: rgba(0, 0, 0, 0.04);
    margin: 10px 0;
    width: 100%;
}

.components-element-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.components-element-title h3 {
    margin: 10px 0;
}

.components-element-details {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0 0;
    padding: 10px;
    font-size: 15px;  
}

.components-element-details div {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #182532;
    width: 100%;
}

.dropbtn {
    text-decoration: none; 
    background-color: transparent;
    border: none;
    text-align: center; /* Adjust text alignment as needed */
    box-sizing: border-box;  
    color: #000000;
    font-weight: bold;
    font-family: Arial;
    padding: 0 20px; 
    cursor: pointer;
}

.menuButton {
    position: relative;
    display: inline-block;
    text-align: center; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}

  
.show {
    display: block;
}


.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-profile > .builds-created, .favorite-builds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
    
